<h3>Listado de Heroes</h3>
<hr>

<div *ngIf="deleteHero; else noBorro"> <!--Esto permite mostrar cuando se a borrado un heroe-->
    <h3>Heroe Borrado <small class="text-danger">{{ deleteHero }}</small></h3>
</div>

<ng-template #noBorro>
    <h3>No ah borrado nada</h3>
</ng-template>

<button 
    *ngIf="heroNames.length > 0"
    (click)="removeLastHero()"
    class="btn btn-outline-danger">
    Borrar ultimo heroe
</button>



<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" 
        class="list-group-item">{{ name }}</li>
</ul>


